{
  "env": {
    "browser": true,
    "node": true,
    "es2017": true
  },
  "extends": [
    "airbnb",
    "airbnb-typescript-prettier",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "plugins": ["react", "react-hooks", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "no-console": [
      "error",
      {
        "allow": ["error"]
      }
    ],
    "no-debugger": "error",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default": "off",
    "react/function-component-definition": "off",
    "react/require-default-props": "off",
    "react/no-unstable-nested-components": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "default-param-last": "off",
    "arrow-body-style": "off"
  }
}
