.learn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.learn__carousel {
  width: clamp(360px, 83vw, 860px);
}

.learn__refresh-btn {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 10;
}

.learn__actions {
  position: fixed;
  right: 2rem;
  bottom: 5.5rem;
  z-index: 10;
  display: flex;
  gap: var(--gap-m);
}

.learn__nav {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 10;
  display: flex;
  gap: var(--gap-m);
}

.learn .progress-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
