.phrase-edit-card {

  .ant-form-item {
    margin-bottom: 8px;
  }

  .ant-rate {
    width: 250px;
    height: 23px;
    overflow: hidden;
    margin-bottom: 8px;
    padding: 0;
    line-height: 1;
  }

  .ant-rate-star {
    line-height: 1;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    // padding: 8px;
  }

  &__action {
    margin-left: auto;
  }
}
