.phrase-card {
  width: clamp(320px, 70vw, 860px);

  .ant-collapse>.ant-collapse-item.ant-collapse-no-arrow >.ant-collapse-header {
    padding-left: 1.5em;
  }
  .ant-collapse-ghost >.ant-collapse-item >.ant-collapse-content >.ant-collapse-content-box {
    padding-bottom: 1em;
  }

  &__shown-phrase,
  &__hidden-phrase {
    font-size: clamp(24px, 4vw, 32px);
    line-height: 1.2;

    p {
      margin: 0;
    }
  }

  &__shown-phrase-description,
  &__hidden-phrase-description {
    display: block;
    margin-top: 0.5em;

    p {
      margin: 0;
    }
  }

  &__counter {
    width: clamp(320px, 70vw, 860px);
    text-align: right;

    * {
      font-size: 0.8em;
    }
  }

  &__rate {
    margin-top: 1em;
  }

  &__done-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 32px;
    opacity: 0.5;
  }

  &--is-known {
    // opacity: 0.5;
  }
}
