.phrase-card {
  width: clamp(320px, 70vw, 860px);

  .ant-collapse>.ant-collapse-item.ant-collapse-no-arrow >.ant-collapse-header {
    padding-left: 24px;
  }
  .ant-collapse-ghost >.ant-collapse-item >.ant-collapse-content >.ant-collapse-content-box {
    border-top: 1px solid #ebebeb;
    padding-bottom: 16px;
  }

  &__shown-phrase,
  &__hidden-phrase {
    font-size: clamp(24px, 4vw, 32px);
    line-height: 1.2;

    p {
      margin: 0;
    }
  }

  &__shown-phrase-description,
  &__hidden-phrase-description {
    display: block;
    margin-top: 8px;

    p {
      margin: 0;
    }
  }

  &__counter {
    width: clamp(320px, 70vw, 860px);
    text-align: right;

    * {
      font-size: 0.8em;
    }
  }

  &__my-knowledge-level {
    display: flex;
    justify-content: flex-end;
    padding: 8px 16px 16px;

    p {
      margin: 0;
    }
  }
}
