.phrase-card {
  position: relative;
  width: clamp(360px, 83vw, 860px);
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-sm);
  backface-visibility: hidden;
}

.phrase-card__main {
  padding: 1.4286rem 2rem;
  cursor: pointer;
}

.phrase-card__main-text-wrap {
  font-size: var(--phrase-main-text-size);
  line-height: 1.2;

  p {
    margin: 0;
  }

  p + p {
    margin-top: 0.2em;
  }
}

.phrase-card__description-text-wrap {
  padding: 1rem 0 0;
  font-size: var(--phrase-second-text-size);

  p {
    margin: 0;
  }

  p + p {
    margin-top: 0.2em;
  }
}

.phrase-card__collapsable-wrap {
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.phrase-card__collapsable {
  padding: 1.4286rem 2rem;
}

.phrase-card__bottom-info {
  position: absolute;
  top: calc(100% + 0.2rem);
  right: 0.5rem;
  margin: 0;
}

.phrase-card__memo-rating {
  padding: 2.5rem 0 0.5rem;
}
