.edit-area {

  &__wrap {
    min-height: 100vh;
    padding: 8px;
  }
  // NOTE[@nicothin]: вынести лоадер в компонент уже
  &__load {
    position: absolute;
    z-index: 666;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
  }

  &__inactive-filter {
    color: #D9D9D9;
  }

  &__upload {

    .ant-upload-list {
      display: none;
    }
  }
}
