.app {

  .no-wrap {
    white-space: nowrap;
  }

  &__wrap {
    min-height: 100vh;
    padding: 8px;
  }

  &__carousel {
    min-height: calc(100vh - 16px);
  }


  &__slide-wrap {
    display: flex !important;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 16px);

    &:focus-visible {
      outline: none;
    }
  }

  &__load {
    position: absolute;
    z-index: 666;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}

.ant-collapse-header-text {

  p {
    margin: 0;
  }
}

.ant-collapse-content-box {

  p {
    margin: 0;
  }
}

.ant-carousel .slick-dots li.slick-active button,
.ant-carousel .slick-dots li button {
  background-color: #000;
}
