.progress-bar {
  position: relative;
  user-select: none;
}

.progress-bar__line-wrap {
  width: 100%;
  height: 0.3rem;
  overflow: hidden;
  background-color: var(--gray-lighter);
  border-radius: var(--border-radius);
}

.progress-bar__line {
  height: 100%;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  transition: width 0.3s ease;
}

.progress-bar__text {
  position: absolute;
  top: calc(100% + 0.3rem);
  left: 0.3em;
  font-size: var(--text-size-sm);
  line-height: 1;
  color: var(--text-color-secondary);
  cursor: default;
}

.progress-bar--done .progress-bar__line {
  background-color: var(--success-color);
}

[data-theme="dark"] .progress-bar__line {
  background-color: color-mix(in srgb, var(--primary-color), white 25%);
}
