.train-area {

  &__wrap {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 8px;
  }

  &__progress {
    position: fixed;
    left: 6px;
    bottom: 6px;
    width: calc(100% - 16px);
    margin-bottom: 0;
  }

  &__common-progress {
    position: fixed;
    left: 6px;
    bottom: 0;
    width: calc(100% - 16px);
    margin-bottom: 0;
  }
}
