.admin {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.admin__header {
  position: sticky;
  top: 0;
  display: flex;
  gap: var(--gap-l);
  align-items: center;
  padding: var(--gap-l);
  background-color: var(--body-bg-color);
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s;
}

.there-is-scrolling .admin__header {
  border-color: var(--border-color);
}

.admin__filter {
  width: 200px;
  margin-right: auto;
}

.admin__actions {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 500;
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

.admin__grid {
  display: grid;
  gap: var(--gap-l);
  padding: var(--gap-l);
  padding-top: 0;
}

.admin__footer {
  padding: 0 var(--gap-l) 0.5rem;
  padding-top: 0;
  color: var(--text-color-secondary);
}
